#encoding:utf-8
<p>Olá <%= @user.name %>,</p>

<p>Parabens, seu projeto foi aprovado pelo 
	<%if @project.status== 1%>
	orientador(a) <%= @orientador%>.																													
	<%elsif @project.status== 2%>
	coordenador(a) do pgc.
	<%end%>
</p>


<p>para acessar o sistema,  <a href="http://cmcc-bcc.ufabc.edu.br/pgc"> clique aqui </a></p>
