#encoding:utf-8
<p>Olá <%= @user.name %>,</p>

<p>Voce tem um novo pedido de orientação para avaliar</p>
<p>para acessar o sistema,  <a href="http://cmcc-bcc.ufabc.edu.br/pgc"> clique aqui </a></p>
