<h1>Avaliçao Parcial do Processo de Orientaçao</h1>
<p>Projetos com avaliação pendente</p>

<table>
  <tr>
    <th>Aluno</th>
    <th>Titulo</th>
    <th>Disciplina</th>
	<th></th>
  </tr>




<% @projects.each do |project| %>

  
  <tr>
    <td><%= retorna_nome(project.aluno_id) %></td>
    <td><%=  link_to project.title, project %></td>
    <td><%= project.course %></td>
    

   
    <td><%= link_to "Avaliar", {:id => project.id, :action => "new", :controller => "evaluations" }, :method => :post%></td>
    	
   
    
  </tr>
  

<% end %>
</table>

<br />


